@import '../../../app.component.scss';

form {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $violet-light-1;

    .form-field {
        display: flex;
        align-items: center;
        font-size: 20px;

        input, select {
            margin-left: 20px;
        }

        input {
            font-family: PremierLeague;
            height: 25px;
            width: 170px;
            padding: 5px;
            font-size: 14px;
        }
    }

    .submit-button {
        height: 35px;
        padding: 5px 30px;
        display: inline-block;
    }
}