@import '../../../app.component.scss';

.settings {
    width: 100%;
    height: auto;

    h2 {
        margin: 0;
        font-weight: bold;
        font-size: 50px;
    }

    .start-season {
        width: 100%;
        height: 250px;
        background-color: $violet-dark;
        display: inline-block;
        position: relative;
        display: flex;
        align-items: center;

        .container {
            z-index: 1;
            display: inline-block;
            text-align: center;
            margin-left: 20%;
            margin-left: 100px;

            h2 {
                margin-bottom: 20px;
            }

            button {
                margin: 0 auto;
            }
        }

        .background {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .players-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url('/img/player-bg.png');
            background-repeat: no-repeat;
            background-position: 90% 0;
            background-size: contain;
        }
    }

    .delete-all {
        width: 100%;
        height: 200px;
        background-color: $yellow;
        margin-top: 40px;
        padding: 60px;

        background-image: url('/img/header-bg-2.svg');
        background-repeat: no-repeat;
        background-size: 58%;
        background-position: 101% 34%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 40px;
            color: $violet-dark;
        }

        .delete-button {
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: $light-red;

            &:hover {
                background-color: darken($light-red, 11%);
            }
        
            &:active {
                background-color: darken($light-red, 15%);
            }
        }
    }
}

.schedule {
    display: block;
    margin-bottom: 30px;

    div {
        margin-right: 10px;
    }
}