@import '../../../app.component.scss';

.team {
    width: 100%;
    height: 60px;
    padding: 0 60px;
    display: flex;
    align-items: center;

    .club-logo {
        width: 50px;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70%;
    }

    .team-name {
        margin-left: 30px;
        font-size: 20px;
        font-weight: bold;
    }

    .team-name-input {
        margin-left: 30px;
    }

    .buttons {
        margin-left: auto;
        display: flex;

        button {
            background-color: $violet;
            margin-left: 10px;
    
            &:hover {
                background-color: $violet-light-1;
            }
    
            &:active {
                background-color: $violet-light-3;
            }
        }
    }
}

.red {
    background-color: $red;
}

.dark-red {
    background-color: $red-dark-1;
}
